.topsmallbanner{
  height: 66px;
  width: 1366px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 99.11%;
  background: var(--card-colors-blue);
}