.container{
  min-width: 1370px;
}
.topsmallbanner{

  display: flex;
  max-width: 1366px;
  height: 66px;
  background: #3740FF;
}

.off{
  color: #00FF00;
}

.LikesFollowers{
  color: #FFE226;
}

.onall{
  color: #FFF;
}

.LimitedTime{
  color: #FFF;
}

.grafity{
  margin-left: 92px;
}

.topsmallbanner-info{
  display: flex;
  justify-items: flex-start;
}

.p{
justify-content: center;
}