/* @font-face {
  font-family: SFProDisplay-Regular;
  src: local("SFProDisplay-Regular.ttf");
}

@font-face {
  font-family: SFProDisplay-Bold;
  src: url("SFProDisplay-Bold.ttf");
} */

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

:root {
  --main-text-color: #080940;
  --white-text-color: #ffffff;
  --card-colors-blue: #474dff;
}
